body{
    background-color: #333;
    color: white;
}

#titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 0.5rem;
    border-radius: 20px;
    width: 50vw;
    margin: auto;
    margin-bottom: 10vh;
}

#wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 0.5rem;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    padding: 5%;
    margin: auto;
}

